### Занятие 1

In [51]:
import pandas as pd
import os

In [52]:
movies_path = os.path.normpath(r'C:\Users\XE\Downloads\10._Основы_pandas\Файлы к заданию №1\movies.csv')
ratings_path = os.path.normpath(r'C:\Users\XE\Downloads\10._Основы_pandas\Файлы к заданию №1\ratings.csv')
power_path = os.path.normpath(r'C:\Users\XE\Downloads\10._Основы_pandas\Файлы к заданию №2\power.csv')

In [53]:
movies_df = pd.read_csv(movies_path)
ratings_df = pd.read_csv(ratings_path)
power_df = pd.read_csv(power_path)

In [9]:
movies_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [10]:
ratings_df.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [11]:
five_ratings = ratings_df[ratings_df['rating'] == 5.0]

In [22]:
five_rating_counts = five_ratings.groupby('movieId').size().reset_index(name='count')

In [23]:
five_rating_counts

      movieId  count
0           1     47
1           2      7
2           3      6
3           5      3
4           6     24
...       ...    ...
2949   184245      1
2950   185135      1
2951   187593      4
2952   187595      1
2953   187717      1

[2954 rows x 2 columns]

In [24]:
max_five_ratings = five_rating_counts.loc[five_rating_counts['count'].idxmax()]

In [25]:
max_five_ratings

movieId    318
count      153
Name: 174, dtype: int64

In [43]:
max_five_movie_title = movies_df[movies_df['movieId'] == max_five_ratings['movieId']]

In [35]:
max_five_movie_title

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [45]:
max_five_movie_title = max_five_movie_title.title.values[0]

In [46]:
max_five_movie_title

'Shawshank Redemption, The (1994)'

### Задание 2

In [54]:
baltic_countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]

In [55]:
power_df

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [57]:
filtered_data = power_df[ 
    (power_df['country'].isin(baltic_countries)) &
    (power_df['category'].isin(categories)) &
    (power_df['year'].between(2005, 2010)) & 
    (power_df['quantity'] >= 0) 
]

In [58]:
total_q = filtered_data['quantity'].sum()

In [59]:
total_q

240580.0

### Задание 3

In [60]:
import requests
from bs4 import BeautifulSoup

In [61]:
url = 'https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html'
response = requests.get(url)

In [64]:
soup = BeautifulSoup(response.text, 'html.parser')

# Находим таблицу с классом 'docutils'
table = soup.find('table', class_='docutils')

if table:
    # Создаем список для хранения данных
    data = []
    
    # Извлекаем строки таблицы
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all(['td', 'th'])  # Извлекаем как ячейки данных, так и заголовки
        row_data = [cell.get_text(strip=True) for cell in cells]  # Получаем текст и убираем лишние пробелы
        data.append(row_data)  
else:
    print("Таблица не найдена.")

In [63]:
df = pd.DataFrame(data)

In [65]:
df

,0,1
0,Функция или метод,Назначение
1,"S = 'str'; S = ""str""; S = '''str'''; S = """"""st...",Литералы строк
2,"S = ""s\np\ta\nbbb""",Экранированные последовательности
3,"S = r""C:\temp\new""",Неформатированные строки (подавляют экранирова...
4,"S = b""byte""",Строкабайтов
5,S1 + S2,Конкатенация (сложение строк)
6,S1 * 3,Повторение строки
7,S[i],Обращение по индексу
8,S[i:j:step],Извлечение среза
9,len(S),Длина строки
10,"S.find(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
11,"S.rfind(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
12,"S.index(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
13,"S.rindex(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
14,"S.replace(шаблон, замена[, maxcount])",Замена шаблона на замену. maxcount ограничивае...
15,S.split(символ),Разбиение строки по разделителю
16,S.isdigit(),Состоит ли строка из цифр
17,S.isalpha(),Состоит ли строка из букв
18,S.isalnum(),Состоит ли строка из цифр или букв
19,S.islower(),Состоит ли строка из символов в нижнем регистре
20,S.isupper(),Состоит ли строка из символов в верхнем регистре
21,S.isspace(),Состоит ли строка из неотображаемых символов (...
22,S.istitle(),Начинаются ли слова в строке с заглавной буквы
23,S.upper(),Преобразование строки к верхнему регистру
24,S.lower(),Преобразование строки к нижнему регистру
25,S.startswith(str),Начинается ли строка S с шаблона str
26,S.endswith(str),Заканчивается ли строка S шаблоном str
27,S.join(список),Сборка строки из списка с разделителем S
28,ord(символ),Символ в его код ASCII
29,chr(число),Код ASCII в символ
30,S.capitalize(),Переводит первый символ строки в верхний регис...
31,"S.center(width, [fill])","Возвращает отцентрованную строку, по краям кот..."
32,"S.count(str, [start],[end])",Возвращает количество непересекающихся вхожден...
33,S.expandtabs([tabsize]),"Возвращает копию строки, в которой все символы..."
34,S.lstrip([chars]),Удаление пробельных символов в начале строки
35,S.rstrip([chars]),Удаление пробельных символов в конце строки
36,S.strip([chars]),Удаление пробельных символов в начале и в конц...
37,S.partition(шаблон),"Возвращает кортеж, содержащий часть перед перв..."
38,S.rpartition(sep),"Возвращает кортеж, содержащий часть перед посл..."
39,S.swapcase(),"Переводит символы нижнего регистра в верхний, ..."
40,S.title(),Первую букву каждого слова переводит в верхний...
41,S.zfill(width),"Делает длину строки не меньшей width, по необх..."
42,"S.ljust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
43,"S.rjust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
44,"S.format(*args, **kwargs)",Форматирование строки